@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

/* Background */

body
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:large;
}

h1
{
	Text-Align:center;
	text-transform: uppercase;
	font-size:72pt;
	font-weight:500;
	margin:0px;
}

h2
{
	font-weight:100;
	font-size:32pt;
	color:#999;
	margin:0px;
}

@media (max-width: 800px)
{
	h1
	{
		font-size:12vw;
	}
	h2
	{
		font-size:5vw;
	}
	body
	{
		font-size: medium;
	}
}

.content
{
	width:90%;
	min-width:256px;
	max-width:768px;
	padding: 32pt;

	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	box-shadow: 0 0 32px #999;
	position: absolute;
	left:50%;
	transform: translate(-50%, 0);

	margin-top:30vh;
}

@media (max-height: 1024px)
{
	.content
	{
		margin-top:20vh;
	}
}

@media (max-height: 850px)
{
	.content
	{
		margin-top:12pt;
	}
}

a
{
	text-decoration: none;
}
