@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

/*	(PC Default) Large Format Devices	*/

h1
{
	Text-Align:center;
	text-transform: uppercase;
	font-size:64pt;
	font-weight:500;
	margin:0;
}

h2
{
	font-weight:100;
	font-size:32pt;
	color:#999;
	margin:0;
}

h3
{
	font-weight:100;
	font-size:24pt;
	color:#AAA;
	margin:0;
}

body
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:large;
	
	margin: 0;
	min-width: 256px;
}

a
{
	text-decoration: none;
}

/*	Medium Format Devices (Tablet)	*/

@media (max-width:1024px)
{
	h1
	{
		font-size: 48pt;
	}
	h2
	{
		font-size: 24pt;
	}
	h3
	{
		font-size: 18pt;
	}
}

/*	Small Format Devices (Phone)	*/

@media (max-width: 560px)
{
	body
	{
		font-size: medium;
	}
	h1
	{
		font-size:12vw;
	}
	h2
	{
		font-size:5vw;
	}
	h3
	{
		font-size:4vw;
	}
}

/*	Very Small Format Devices (iPhone4)	*/

@media (max-height: 540px)
{
	body
	{
		font-size: small;
	}
}
