@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

/* Background */

body
{
	background-image: url(bkg_jam.jpg);
	background-size:cover;
	background-attachment: fixed;
}

.contactbar
{
	margin-top: 48px;
	text-align: center;
}
