/*      MDPi PC     */
@media (max-width:2000px)
{
        .flexcontent{
                width:800px;
        }
        .flexitem{
                flex-basis: 390px;
        }
}

/*      LDPi PC     */
@media (max-width:1440px)
{
        body{
                font-size: 14pt;
        }

        .flexcontent{
                width:640px;
        }
        .flexitem{
                flex-basis: 310px;
        }
}
/*      Tablet    */
@media only screen and (max-width:720px)
{
        .flexcontent{
                width:470px;
        }

        #homeitem1{
                order:2;
        }
        #homeitem2{
                order:3;
        }
        #homeitem3{
                order:1;
                max-width: 480px;
        }

        #bio{height:auto;}

        header{
                font-size: 300%;
                max-width: 95%;
        }

        article{
                max-width: 90%;
        }
}

/*      Phone       */
@media only screen and (max-width: 480px)
{
        .flexcontent{
                width:310px;
        }
}

/*      Very Small (<=iPhone4)  */
@media only screen and (max-width: 320px)
{
        body{
                font-size: 12pt;
        }
}
