@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.contentspacerlrg
{
	height:24pt;
}
.contentspacer
{
	height:12pt;
}

.content
{
	margin:0;
	padding:8pt;
	padding-left: 30vw;
	padding-right: 30vw;
	/*width: 100vw;*/
	min-width: 256px;

	background-color: #FFF;
	box-shadow: 0 0 32px rgba(0,0,0,0.5);
	text-align: justify;

	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;

	position: relative;
	z-index: 10;
}

.homepagebkg
{
	background-image: url(bkg_jam.jpg);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 10vh;
}

.solitudebkg
{
	background-image: url(bkg_project1.jpg);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;

	padding:10vh;
	padding-left: 10vw;
	padding-right: 10vw;
}

.imgcontainer
{
	background-color: rgba(0,0,0,0.25);
	border-radius: 2px;
	margin: 2px;
	padding: 2px;

	display: inline-block;
	vertical-align: top;

	max-width: 19vw;
	font-size: small;
	text-align: center;
	color: #DDD;
}
img
{
	width: 100%;
}

/*	Medium Format Devices (Tablet)	*/

@media (max-width:1440px)
{
	.content
	{
		padding-left: 20vw;
		padding-right: 20vw;
	}
}
@media (max-width:1024px)
{
	.content
	{
		padding-left: 10vw;
		padding-right: 10vw;
	}
}

/*	Small Format Devices (Phones)	*/




/*	Alternate Image Layout	*/

@media (max-width: 1200px)
{
	.imgcontainer
	{
		max-width: 33vw;
	}
}
