@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

/* Base */
body{
        min-width: 300px;
        margin: 0;
        margin-top: 5vh;

        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 16pt;
        color:#444444;
}

h1, h2{font-weight: 400;}
h1{font-size: 1.4em;}
h2{font-size: 1.1em;}
h3{
        font-size: 1.0em;
        font-weight: 300;
        color:#888;
}

.contactitem{
        font-size: 1.3em;
}

/* Header */
header, a{
        color: #0080ff;
        text-decoration: none;
}

header{
        width: 100%;
        text-align: center;
        word-spacing: 0.4em;

        font-size: 400%;
        font-weight: 600;
        text-shadow: 2px 2px rgba(0,0,0,0.25)
}

/* Page Content */
article{
        text-align: justify;
        max-width: 100%;
        width: 32em;
        margin: auto;
}

hr{
        max-width: 90%;
        width: 32em;
        margin:auto;
        margin-top: 1em;
        margin-bottom: 1em;

        border: 0;
        border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

#bio{
        height: 3em;
        line-height: 150%;
}
#bio>h1{
        margin: 0;
        padding-top: 0.5em;
        text-align: center;
}


/* Flexbox items */
.flexcontent{
        width:1280px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: flex-start;
}

.flexitem{
        max-width: 480px;
        flex-basis: 480px;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        margin: 4px;

        border: 1px solid rgba(85, 85, 85, 0.1);
        border-radius: 8px;
        color:#444444;
}

#homeitem3{max-width: 960px;}

.flexitem>*{
        margin: 8px;
}

.flexitem>a{
        margin: 0;
}

.flexitem>a>img, .flexitem>img{
        margin: 0;
        width: 100%;
        height: auto;
}

.flexitem>h2{
        margin-top: 0;
        text-align: center;
}
.flexitem>a>h2{
        color: #0080ff;
        margin-top: 0;
        text-align: center;
}

/* Project Box */
.project{
        overflow: hidden;
        margin-top:8px;
        margin-bottom:8px;

        border: 1px solid rgba(85, 85, 85, 0.1);
        border-radius: 8px;
        color:#444444;
}

.project>h2, .project>h3{
        text-align: center;
        margin: 0;
}

.project>img{
        justify-content: center;
        margin: auto;
}
