@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

/* Page Frame */

html{height: 100%; min-width: 320px;}
body {
        margin: 0;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;;
        align-items: center;

        font-size: 16pt;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
}

#center {
        flex-basis: auto;
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
}

main {
        max-width: 90%;
        flex-basis: auto;
}

/* Formatting */

h1 {
        font-size: 4em;
        font-weight: 400;
        color: #0080ff;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.25);
}
h2, h3, h4 {font-weight: 400;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

main article{
        max-width: 40em;
        line-height: 1.5;
        text-align: justify;
}

a {text-decoration: none;}
a:link {color: #0080ff;}

main header {
        max-width: 40em;
        margin: 1em auto;
}

main header * {
        text-align: center;
        margin: 0 auto;
}

main header a:visited {color: #0080ff;}

/* Page flex items */

#items {
        font-size: 14pt;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
}

.item {
        flex-basis: 24em;
        flex-shrink: 1;
        margin: 16pt;
        text-decoration: none;
}

.item:nth-of-type(1) {order: 3;}
.item:nth-child(2) {order: 1;}
.item:nth-child(3) {order: 5;}

.item img {
        filter: grayscale(0.5) contrast(0.75) brightness(1.25);
        width: 100%;
        height: auto;
}

.item h2 {
        color: #0080ff;
}

.item p {
        text-align: left;
        color: initial;
}

@media only screen and (max-width:560px)
{
        main {max-width: 95%;}
        h1 {font-size: 15vw;}
}
