@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
        font-size: 16pt;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.5;

        min-width: 320px;
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
}

h1 {
        color: #0080ff;
        font-size: 4em;
        font-weight: 400;
        text-align: center;
        word-spacing: 0.25em;
        line-height: 1;
        margin: 14pt auto;
}
h2 {font-size: 1.3em; text-align: center;}
h3 {font-size: 1.1em;}
h4 {font-size: 1.0em;}
h2,
h3,
h4 {
        font-weight: 400;
        line-height: 1;
        margin: 8pt auto;
}

a {text-decoration: none;}
a:link {color: #0080ff;}

body>.frame {
        flex-basis: 0;
}

body>main {
        max-width: 90%;
        flex-basis: 1280px;
        flex-grow: 0;
        flex-shrink: 1;
}

header h1 {text-shadow: 2px 2px 0 rgba(0,0,0,0.25);}

header p {
        margin: 0 auto;
        font-style: normal;
}

header a:link {color: #0080ff;}
header a:visited {color: #0080ff;}

main header,
main article {
        max-width: 35em;
        margin: 0 auto;
}

#items {
        font-size: 14pt;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
}

.item {
        flex-basis: 20em;
        flex-shrink: 1;
        padding: 16pt;
        text-decoration: none;
}


.item:nth-of-type(1) {order: 1;}
.item:nth-child(2) {order: 3;}
.item:nth-child(3) {order: 5;}

.item img {
        filter: grayscale(0.5) contrast(0.75) brightness(1.25);
        width: 100%;
        height: auto;
}

.item h2 {
        color: #0080ff;
}

.item p {
        text-align: left;
        color: black;
}

.contactitem{
        font-size: 1.2em;
}

@media only screen and (max-width:924px)
{
        body {
                width: initial;
                height: initial;
        }

        .item {flex-grow: 1; max-width: 480px;}
        .item:nth-of-type(1) {order: 4;}
}

@media only screen and (max-width:540px)
{
        body{font-size: 14pt;}
        h1{font-size: 16vw;}
}
