@import url(http://fonts.googleapis.com/css?family=Lilita+One);

body
{
    background:#94b1a9;
    
    background-image:url(img/bkg.jpg);
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    
    max-width:100%;
}

a
{
	max-width:50%;
	margin:auto;
	margin-top:10%;

	color:#fff;
	font-family: 'Lilita One', cursive;

    color:#ffffff;
    text-decoration:none;
}